<div class="container">
  <h2 class="heading">Tickets</h2>

  <p>
    <ng-container *ngFor="let t of tickets; index as i">
      <button class="btn btn-primary" type="button" (click)="showFullTickets(i)">{{t.title}}</button>
    </ng-container>
  </p>
  <div class="row">
    <ng-container *ngFor="let t of tickets; index as i">
      <div class="col" [hidden]="ticketSection[i]" id="menuCollapse{{i}}">
        <div class="card card-body">
          <h3>{{t.title}}</h3>
          <app-ticket-detail [myTicket]="t"></app-ticket-detail>
        </div>
      </div>
    </ng-container>
  </div>
</div>
