<div class="container">
  <hr />

  <div class="container">
    Username: {{myTicket.openedBy}}<br />
    Category: {{myTicket.category}}--{{myTicket.ticketStatus}}

    <p> {{myTicket.ticketDetail}}</p>


    <!--ngIF may work here is there's a resolution-->
    <div>
      Resolution:<br />
      {{myTicket.resolution}}
      {{myTicket.resolvedBy}}
    </div>

  </div>
</div>

<div>
  <h3>Resolve Ticket</h3>
  <input type="text" [(ngModel)]="item.resolution" placeholder="Resolution" />
  <br />
  <input type="text" [(ngModel)]="item.resolvedby" placeholder="Resolver's name" />
  <br />


  <button (click)="editTicket(item.ticketid, item.resolution, item.resolvedby)">
    Resolve Ticket
  </button>
</div>
